/* background */
.body {
  background-image: url('chris-bair-A10y2Eq7OHY-unsplash.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
}

/* navbar */
.navbar-custom, .navbar {
   background-color: Black;
   color: #f0f0f0;
   opacity: 0.8;
}
.navbar-custom .navbar-brand {
   font-family: 'Norican', cursive;
   font-size: 25pt;
   color: #f0f0f0; 
}

.navbar-nav {
   margin-left: auto;
}

.nav-item {
   font-family: 'Plus Jakarta Sans', sans-serif; 
   font-size: 14pt;
   color: #f0f0f0;
}

/* Bedford Big Band */
h1.hero-title {
font-family: 'Norican', cursive;
position: absolute;
text-align: center;
top: 40%;
padding-left: 8%;
font-style: normal;
font-size: 150px;
line-height: 130%;
color: #FFFFFF;

}
.music-bckgrd {
background-image: url('DSC_6619.jpg');
padding-top: 50px;
padding-bottom: 50px;
width: 100%;
}

.bckgrd {
    background-color: #435e89;       
}
.display-1 {
font-family: 'Norican', cursive; 
font-size: 75px;
padding-top: 50px;
padding-bottom: 50px;
color: #f0f0f0;
}

.display-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #f0f0f0;
  padding: 50px;
  font-size: 35px;
}

h2.home {
font-family: 'Plus Jakarta Sans', sans-serif;
color: white;
position: absolute;
top: 63%;
padding-left: 18%;
text-align: center;
}

h2 {
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 25px;
color: white;
text-align: center;
padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
}
}
@media only screen and (max-width: 768px) {  
h1.hero-title {
font-family: 'Norican', cursive;
position: absolute;
text-align: center;
top: 40%;
padding-left: 8%;
font-style: normal;
font-size: 80px;
line-height: 130%;
color: #FFFFFF;
}
}
.collapsible {
   background-color: #383434;
   color: white;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   font-weight: bold;
   font-family: 'Plus Jakarta Sans', sans-serif;
 }
 
 .active, .collapsible:hover {
   background-color: #ffc107;
   color: black;
 }
 
 .content {
   padding: 0 18px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   background-color: #f1f1f1;
   font-family: 'Plus Jakarta Sans', sans-serif;
   
 }
 
 .display-6 {
   font-family: 'Plus Jakarta Sans', sans-serif;
   color: #f0f0f0;
   padding: 50px;
   font-size: 14px;
 }

 .accordion-header {
  font-family: 'Plus Jakarta Sans', sans-serif;
   color: #f0f0f0;
   font-size: 16px;
   text-align: center;
 }

 .accordion-button {
  background-color: #435e89;
 }

 .accordion-body {
  color: #435e89;
  background-color: #f0f0f0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  text-align: left;
 }